[
  {
    "name": "Hans Rosenfeldt",
    "books": [
      {
        "title": "En högre rättvisa",
        "status": "TILLGANGLIG_FOR_LAN",
        "store": "Jönköping bibliotek",
        "link": "https://bibliotek.jonkoping.se/work/en-h%C3%B6gre-r%C3%A4ttvisa?id=ed52f023-7862-d7cb-a2ac-640ade796390&mediaTypeId=9bccd1a4-6323-4d0b-a8ce-a5d10108805b&queryId=1d707aba-91a5-4a51-acc6-ac625f897fe1&resultIndex=0"
      }
    ]
  },
  {
    "name": "Rolf Börjlind",
    "books": [
      {
        "title": "Fruset guld",
        "status": "KOMMANDE",
        "store": "Bokus",
        "link": "https://www.bokus.com/bok/9789113098678/fruset-guld/"
      }
    ]
  }
]