{
  "apiKey": "__api-key__",
  "adlibrisUrl": "http://www.adlibris.com/se/sok?q=#####&sort_by=published&order_by=desc&filter=format_sv:inbunden&filter=grouped_language_sv:svenska",
  "bokusUrl": "https://www.bokus.com/cgi-bin/product_search.cgi?search_word=#####&language=Svenska&binding_normalized=inbunden&rank_order=print_year_month_desc",
  "libraryUrl": "https://bibliotek.jonkoping.se/search?mode=full&query=v#####&fMediaId=9bccd1a463234d0ba8cea5d10108805b",
  "skipSlack": false
}